.page-contact{
    position: relative;
    width: 1440px;
    height: 2550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    }

.head-contact{
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
width: 574px;
height: 125px;
margin-bottom: 50px;
}

.feedback-section-contact{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.feedback-box-contact{
position: relative;
width: 600px;
height: 564px;
}
.feedback-box-contact p{
    font-size: 20px;
    font-weight: 700;
}
/* .feedback {
  display: flex;
  flex-direction: column;
} */

.feedback input, 
.feedback textarea {
  width: 270px;
  height: 55px;
  font-size: 16px;
  border-radius: 30px;
  background-color: rgba(27, 51, 99, 0.6);
  margin-bottom: 30px;
  padding-left: 20px;
  color: white;
  border: none;
  outline: none;
}
.feedback #name{
    margin-right: 14px;
}

.feedback textarea {
  width: 600px;
  height: 330px;
  padding-top: 20px;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  font-size: 16px;
  color: #FFFFFF;
}

.googlemap-contact{
    position: relative;
    width: 600px;
    height: 564px;
}

.meetus-contact{
position: relative;
width: 1250px;
height: 137px;
display: flex;
gap: 160px;
margin-bottom: 50px;
}

.meetus-item-contact{
    display: flex;
    flex-direction: row;
    width: 400px;
}
.meetus-item-contact h4,.hr-item-contact h4{
    margin: 8px 0;
    font-size: 18px;
}
.meetus-item-contact p,.hr-item-contact p{
    margin: 0;
    font-size: 15px;
}
.meetus-item-contact img,.hr-item-contact img{
    width: 54px;
    height: 54px;
    margin-right: 15px;
    margin-top: 15px;
}
.article1-contact{
    position: relative;
    width: 574px;
    margin-bottom: 50px;
    margin-left: -680px;
}

.hr-container-contact{
    display: flex;
    gap: 50px;
}
.hr-container-contact h5{
    font-size: 22px;
    margin: 10px 0;
}
.hr-container-contact h6{
    font-size: 18px;
    margin: 10px 0;
}

.hr-contact{
    width: 600px;
    display: flex;
    flex-direction: column;
}
.hr-contact-top{
    display: flex;
    flex-direction: row;
}
.hr-item-contact{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    position: relative;
}

.hrButton{
    background-color: #FFFFFF;
    left: 60%;
    top: 10%;
    color: #1b3363;
    border: 2px solid #1b3363;
    border-radius: 20px;
    outline: none;
    width: 180px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
}

.banner-contact{
    width: 600px;
    height: 550px;
}
.banner-contact img{
    width: 600px;
    height: 550px;
}