.header-real {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #CFD4DE;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.logo-section {
  display: flex;
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.logo-text {
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
  font-size: 21px;
  color: #1B3363;
}


.nav-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Quickstand', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #1B3363;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #B0B0B0;
  border-radius: 16px;
  font-size: 14px;
  width: 180px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.search-button:hover{
  color: #1B3363;
}
