.page-iteminfo{
    position: relative;
    width: 1440px;
    height: 2246px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.info-container-iteminfo{
    width: 1040px;
    height: 600px;
    gap:50px;
    padding-top: 80px;
    display: flex;
}

.info-container-iteminfo img{
    height: 550px;
    width: 550px;
    border: #FFFFFF;
    border-radius: 10px;
    object-fit: cover;
    background-color: #D9D9D9;
}

.description-container-iteminfo{
    width: 400px;
    height: auto;
    flex-direction: column;
    gap: 30px;
}

.item-title-iteminfo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding-top: 50px;
}

.item-price-iteminfo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #1B3363;
    opacity: 80%;
    padding-top: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.item-price-iteminfo.changing {
    transform: scale(1.2); 
    opacity: 0.5;
  }
  
  .item-price-iteminfo.changing:after {
    content: ''; 
  }

.item-description-iteminfo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

.item-order-iteminfo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    padding-top: 60px;
    color: #1B3363;
    font-weight: bold;
}

.item-size-iteminfo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 56px;
  
    background: #FFFFFF;
    border: 3px solid #1B3363;
    border-radius: 38px;
  
    color: #1B3363;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
  
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
  .item-size-iteminfo.selected {
    background-color: #1B3363;
    color: #FFFFFF;
  }
  
  

  
  
  .item-size-iteminfo:hover {
    background: #1B3363; 
    opacity: 80%;
    color: #FFFFFF; 
    transform: scale(1.05); 
    cursor: pointer;
  }
  

.size-container-item{
    display: flex;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
}


