.shop{
    
    position: relative;
    width: 1440px;
    height: 2439px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    }



.article-shop{
    /* head3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: relative;
width: 891px;
height: 125px;
background-color: yellow;
margin-bottom: 50px;
}

.article2-shop{
background-color: yellow;
/* онцлох бүтээгдэхүүн */

position: relative;
width: 376px;
height: 72px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 72px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.2px;
text-transform: capitalize;

color: #000000;

margin-right: 280px;
margin-bottom: 20px;
}


.category-container-shop{

position: relative;
width: 1312px;
height: 1031px;
background-color: lightgrey;
display: flex;
gap: 30px;
}


.category-sidebar-shop{

position: relative;
width: 312px;
height: 578px;
background-color: lightblue;
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
}

.cat-sidebar-item-shop{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: relative;
    width: 212px;
    height: 50px;
    background: grey;
    }


.cat-title-shop{
    /* Категори */
    
    position: relative;
    width: 167px;
    height: 72px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    background-color: #000000;
    color: #000000;
    }





.category-shop{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;

position: relative;
width: 1028px;
height: 1042px;

background: navajowhite;
border-radius: 10px;

}

.cat-item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.category-item-shop{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 22px;
width: 303px;
height: 307px;

background: #1B3363;
border-radius: 10px;
}
